# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - osx
julia:
  - 0.4
  - 0.5
  - nightly
notifications:
  email: false
#script: # use the default script setting which is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("QuartzImageIO");'
#  - julia -e 'Pkg.test("QuartzImageIO"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("QuartzImageIO")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
